/* Style Sheet */

html {
    text-align: center;
}

body {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
}

table {
    width: 100%;
}

th {
    font-weight: normal;
}

tr {
    /* Do something. */
}

ol {
    text-align: center;
    list-style-position: inside;
}

ul {
    padding: 0px;
}

p {
    margin-left: 100px;
    margin-right: 100px;
}